/* FOOTER */
.copyrightText{
    padding: 8px 40px;
    border-top: 1px solid rgba(0,0,0,0.2);
    text-align: center;
}
.copyrightText p{
    color: #333;
}
.copyrightText a{
    color: #ff0157;
    font-weight: 700;
    text-decoration: none;
}
