/* 1ra parte Home */
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/bg.jpg);
    background-size: cover;
}
.banner .content{
    max-width: 900px;
    text-align: center;
}
.banner .content h2{
    font-size: 5em;
    color: #fff;
}
.banner .content p{
    font-size: 1em;
    color: #fff;
}