/* SECCION TESTIMONIALS */
.testimonials{
    background: url("../img/bg2.jpg");
    background-size: cover;
}
.white .tituloFoto, .white p{
    color: #fff;
}
.testimonials .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.testimonials .content .box{
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
.testimonials .content .box .imgBx{
    position: relative;
    width: 80px;
    height:80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden; /*enconde el sobrante de la foto para que se pueda mostrar un cirulo de la foto*/
}
.testimonials .content .box .imgBx img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonials .content .box .text{
    text-align: center;
}
.testimonials .content .box .text p{
    color: #666;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.testimonials .content .box .text h3{
    margin-top: 20px;
    color: #111;
    font-size: 1.5rem;
    color: #ff0157;
    font-weight: 700;
}